<div class="container mx-auto my-16">
  <div class="grid grid-cols-2 gap-5">
    <div class="shadow-lg border-2 border-gray-900">
      <img
        src="https://img.freepik.com/free-psd/3d-icon-social-media-app_23-2150049579.jpg?w=740&t=st=1693203872~exp=1693204472~hmac=a7fe6597b33dd44093cb2030123bdabcdfc5fe1d1f8a109d734e96d4dadfb3c3"
        alt=""
      />
      <h3 class="text-xl font-bold p-3">Facebook.com</h3>
      <div class="grid grid-cols-3 gap-3 my-1 p-3">
        <div
          class="col-span-2 px-3 bg-blue-200 text-blue-800 rounded-lg text-sm"
        >
          http://facebook.com
        </div>
      </div>
    </div>

    <div class="px-20 py-10 mb-10 my-5 border-4 border-gray-900">
      <h2 class="text-3xl text-center">Add New user and password</h2>
      <p class="text-center">You can add new password from the below form</p>
      <form>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Email</label>
          <input
            type="email"
            name="email"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
          />
        </div>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Username</label>
          <input
            type="text"
            name="username"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
          />
        </div>
        <div class="flex flex-col">
          <label class="text-lg font-medium mb-2">Password</label>
          <input
            type="password"
            name="password"
            class="border-2 border-gray-900 p-2 rounded-lg w-full"
          />
        </div>

        <button
          class="mt-10 mx-0.5 px-5 py-3 text-sm border-gray-900 text-white shadow rounded-md"
        >
          Add new password
        </button>
      </form>
    </div>
  </div>

  <div class="grid grid-cols-1 mt-10">
    <table class="border-2 border-gray-900">
      <head>
        <tr class="border-gray-200 p-52 h-14 text-left">
          <th class="border-2 border-gray-900 p-3">Email</th>
          <th class="border-2 border-gray-900 p-3">Username</th>
          <th class="border-2 border-gray-900 p-3">Password</th>
          <th class="border-2 border-gray-900 p-3">Action</th>
        </tr>
      </head>
      <tbody>
        <tr class="h-14"></tr>
        <td class="border-2 border-gray-900 p-3">t@t.com</td>
        <td class="border-2 border-gray-900 p-3">t@t.com</td>
        <td class="border-2 border-gray-900 p-3">12345</td>
        <td class="border-2 border-gray-900 p-3">
          <button
            class="mx-0.5 px-5 py-3 text-sm border-gray-900 background-black text-white shadow rounded-md"
          >
            Edit
          </button>
          <button
            class="mx-0.5 px-5 py-3 text-sm border-2 border-gray-900 text-gray-900 shadow rounded-md"
          >
            Delete
          </button>
        </td>
      </tbody>
    </table>
  </div>
</div>
